<!doctype html>
<title>Iver's Trading Log</title>
{% if finalbalance and crosspnl and walletbalance %}
  <h1>Margin Balance: $ {{ finalbalance }}!</h1>
  <h1>PNL - $ {{ crosspnl }}</h1>
  <h1>Wallet Balance - $ {{ walletbalance }}</h1>
  <h2> POSITIONS </h2>
  <table>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if col == link_column %}
        <td>
            <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                {{ row_ }}
            </button>
        </td>
        {% else %}
        <td>{{row_}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}

</table>
  <h3> </h3>

{% else %}




  <h1>Current Balance: $ {{ data }}!</h1>
{% endif %}